* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
  
#contenedor-home{
display: grid;
grid-template-columns: 1fr;
text-align: center;
align-items: center;
margin: 15px;
padding: 10px;
}
.portada{
    width:100%;
}
.marcas{
    margin: 10px;
    border-radius: 20px;
    width:100%;
    height:250px;
    box-shadow: 5px 5px 5px 5px rgb(53, 49, 49);
}

header {
    background-color: rgb(15, 14, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);

}
h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

#boton-carrito {
    border: none;
    color: rgb(18, 18, 18);
    font-size: 20px;
    background-color: white;
    border-radius: 70%;
    padding: 10px 10px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(216, 3, 3);
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 50%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
   
}
.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: rgba(250, 235, 215, 0);
    color: rgb(242, 2, 2);
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
    background-color: rgb(243, 236, 236);
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(236, 27, 27);
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.img{
    width: 200px;
    height: 200px;
}